VITE_AIRTABLE_BASE_ID=appSm4fcQQwuLZ6CW
VITE_AIRTABLE_TABLE_ID=tblauEa6iYlkZ3Epy
VITE_AIRTABLE_PAT=your_airtable_personal_access_token_here
VITE_WEBHOOK_URL=https://n8nadmin.1automation.us/webhook/5ef7f3a8-6c88-4aca-928a-4084ba46134a
